[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = ">=1.5.7"
reorder-python-imports = ">=2.6.0"
yamllint = "*"
molecule = "*"
ansible-lint = {extras = ["yamllint"], version = "*"}

[packages]
rich = "==11.0.0"
click = "*"

[requires]
python_version = "3"
