[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = ">=1.5.7"
reorder-python-imports = ">=2.6.0"
molecule = "*"
ansible-lint = {extras = ["yamllint"], version = "*"}
yamllint = "*"

[packages]
rich = "==11.0.0"
click = "*"
ansible = "*"
ansible-core = "==2.15.*"
requests = "*"

[requires]
python_version = "3"
